<div class="d-flex  justify-content-center">
    <% if(pageid == 1) { %>
      <div class="btn border border-primary" style="pointer-events: none; cursor: default;"  ><a  href="/result?pageid=<%=1%>&orderby=<%=orderby%>"> << </a></div>
      <div class="btn border border-primary" style="pointer-events: none; cursor: default;" ><a href="/result?pageid=<%=Number(pageid)-1%>&orderby=<%=orderby%>"> < </a> </div>
      <%} else { %>
        <div class="btn border border-primary"> <a href="/result?pageid=<%=1%>&orderby=<%=orderby%>"> << </a></div>
        <div class="btn border border-primary" ><a href="/result?pageid=<%=Number(pageid)-1%>&orderby=<%=orderby%>"> < </a> </div>
    <%}%>
    <div class="btn border border-primary" ><a href=""><%=pageid%></a></div>
    
    <% if(pageid == 6) { %>
        <div class="btn border border-primary" style="pointer-events: none; cursor: default;" ><a href="/result?pageid=<%=Number(pageid)+1%>&orderby=<%=orderby%>"> > </a></div>
        <div class="btn border border-primary" style="pointer-events: none; cursor: default;" ><a href="/result?pageid=<%=6%>"> >> </a></div>
    <%} else { %>
            <div class="btn border border-primary" ><a href="/result?orderby=<%=orderby%>&pageid=<%=Number(pageid)+1%>"> > </a></div>
            <div class="btn border border-primary" ><a href="/result?orderby=<%=orderby%>&pageid=<%=6%>"> >> </a></div>
    <%}%>
</div>